@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @keyframes stripe {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 0% -100%;
    }
  }

  @keyframes pan-image {
    0% {
      background-position: 36% 42%;
      background-size: 200%;
    }
    20% {
      background-position: 30% 35%;
      background-size: 200%;
    }
    20.0001% {
      background-position: 60% 85%;
      background-size: 500%;
    }
    40% {
      background-position: 49% 81%;
      background-size: 500%;
    }
    40.0001% {
      background-position: 80% 42%;
      background-size: 300%;
    }
    60% {
      background-position: 84% 33%;
      background-size: 300%;
    }
    60.0001% {
      background-position: 0% 0%;
      background-size: 300%;
    }
    80% {
      background-position: 15% 4%;
      background-size: 300%;
    }
    80.0001% {
      background-position: 80% 10%;
      background-size: 300%;
    }
  }

  .stripe-gradient {
    background: linear-gradient(
      theme("colors.blue.500" / 15%),
      theme("colors.blue.500" / 15%) 3px,
      transparent 3px,
      transparent 9px
    );
    background-size: 100% 9px;
    animation: stripe 22s infinite linear;
    position: absolute;
    inset: 0px;
    z-index: 2;
  }

  .stripe-image {
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1500338427510-5deb175987d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2350&q=80");
    animation: pan-image 15s linear infinite;
    opacity: 0.6;
    filter: sepia(100%) hue-rotate(180deg);
    background-size: 300%;
    position: absolute;
    inset: 0px;
  }
}
